body {
  background-color: #dcdcdc;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
  gap: 10px;
}

.question {
  display: flex;
  justify-content: space-between;

  button {
    background-color: chocolate;
    border: none;
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      color: bisque;
      transform: scale(1.2);
    }
  }
}

.article {
  line-height: 0.9;
  padding: 10px;
  background-color: chocolate;
  border-radius: 10px;
  width: 500px;
}

.btn {
  background-color: chocolate;
}
